Repository Step3-kakao-tech-campus/Team5_BE, pull requests merged in 2023-10, with the labels that each got.

#30 포트폴리오 조회, 삭제 로직 구현
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/_core/errors/BaseException.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/portfolio/Portfolio.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/portfolio/PortfolioDTOConverter.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/portfolio/PortfolioJPARepository.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/portfolio/PortfolioRestController.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/portfolio/PortfolioService.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/portfolio/dto/request/PortfolioInsertRequest.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/portfolio/dto/request/PortfolioUpdateRequest.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/portfolio/dto/response/PortfolioDTO.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/portfolio/dto/response/PortfolioListItemDTO.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/portfolio/dto/response/PriceDTO.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/portfolio/dto/response/PriceItemDTO.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/portfolio/image/ImageEncoder.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/portfolio/image/ImageItem.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/portfolio/image/ImageItemJPARepository.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/portfolio/image/ImageItemService.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/portfolio/price/PriceCalculator.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/portfolio/price/PriceItem.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/portfolio/price/PriceItemJPARepository.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/user/UserService.java
  sunsu-wedding/src/main/resources/db/teardown.sql
  sunsu-wedding/src/test/java/com/kakao/sunsuwedding/portfolio/PortfolioControllerTest.java
  sunsu-wedding/src/test/java/com/kakao/sunsuwedding/portfolio/PortfolioRepositoryTest.java
Labels: enhancement, Done, portfolio

#31 실패하는 테스트 코드 주석 처리
  README.md
  sunsu-wedding/src/test/java/com/kakao/sunsuwedding/portfolio/PortfolioControllerTest.java
Labels: documentation

#42 코드 리팩토링
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/portfolio/Portfolio.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/portfolio/PortfolioDTOConverter.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/portfolio/PortfolioResponse.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/portfolio/PortfolioRestController.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/portfolio/PortfolioService.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/portfolio/dto/request/PortfolioInsertRequest.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/portfolio/dto/request/PortfolioUpdateRequest.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/portfolio/dto/response/PortfolioDTO.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/portfolio/dto/response/PortfolioListItemDTO.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/portfolio/dto/response/PriceDTO.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/portfolio/dto/response/PriceItemDTO.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/portfolio/image/ImageEncoder.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/portfolio/image/ImageItem.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/portfolio/price/PriceCalculator.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/portfolio/price/PriceItem.java
Labels: In-progress, portfolio

#54 매칭내역 수정, 삭제
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/match/Match.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/match/MatchRestController.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/match/MatchService.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/match/MatchStatus.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/match/Quotation/Quotation.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/match/Quotation/QuotationDTOConverter.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/match/Quotation/QuotationRestController.java
  sunsu-wedding/src/main/resources/db/teardown.sql
  sunsu-wedding/src/test/java/com/kakao/sunsuwedding/quotation/QuotationRestControllerTest.java
  sunsu-wedding/src/test/java/com/kakao/sunsuwedding/user/UserRestControllerTest.java
Labels: enhancement, In-progress, match

#58 견적서 관련 작업
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/_core/errors/BaseException.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/match/Match.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/match/MatchRestController.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/match/MatchService.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/match/MatchStatus.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/match/Quotation/Quotation.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/match/Quotation/QuotationDTOConverter.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/match/Quotation/QuotationRequest.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/match/Quotation/QuotationResponse.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/match/Quotation/QuotationRestController.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/match/Quotation/QuotationService.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/match/Quotation/QuotationStatus.java
  sunsu-wedding/src/main/resources/db/teardown.sql
  sunsu-wedding/src/test/java/com/kakao/sunsuwedding/quotation/QuotationRepositoryTest.java
  sunsu-wedding/src/test/java/com/kakao/sunsuwedding/quotation/QuotationRestControllerTest.java
  sunsu-wedding/src/test/java/com/kakao/sunsuwedding/user/UserRestControllerTest.java
Labels: enhancement, Done, quotation

#61 채팅방 생성 및 기타 에러 해결
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/match/Match.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/match/MatchRequest.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/match/MatchRestController.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/match/MatchService.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/match/Quotation/QuotationService.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/portfolio/image/ImageItemService.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/user/UserResponse.java
  sunsu-wedding/src/main/resources/db/teardown.sql
  sunsu-wedding/src/test/java/com/kakao/sunsuwedding/user/CoupleJPARepositoryTest.java
  sunsu-wedding/src/test/java/com/kakao/sunsuwedding/user/PlannerJPARepositoryTest.java
  sunsu-wedding/src/test/java/com/kakao/sunsuwedding/user/UserJPARepositoryTest.java
  sunsu-wedding/src/test/java/com/kakao/sunsuwedding/user/UserRestControllerTest.java
Labels: enhancement, Done, match

#69 견적서 1개 확정, 업데이트 기능 추가
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/_core/errors/BaseException.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/_core/utils/PriceCalculator.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/match/Match.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/match/MatchService.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/match/MatchStatus.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/match/Quotation/Quotation.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/match/Quotation/QuotationRequest.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/match/Quotation/QuotationResponse.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/match/Quotation/QuotationRestController.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/match/Quotation/QuotationService.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/portfolio/PortfolioDTOConverter.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/portfolio/price/PriceCalculator.java
  sunsu-wedding/src/main/resources/db/teardown.sql
  sunsu-wedding/src/test/java/com/kakao/sunsuwedding/match/MatchRestControllerTest.java
  sunsu-wedding/src/test/java/com/kakao/sunsuwedding/quotation/QuotationRestControllerTest.java
Labels: enhancement, Done, quotation

#73 포트폴리오 거래내역 조회 추가
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/match/MatchJPARepository.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/match/Quotation/QuotationJPARepository.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/portfolio/PortfolioDTOConverter.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/portfolio/PortfolioResponse.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/portfolio/PortfolioService.java
Labels: Done, portfolio, refactor

#77 포트폴리오 avg, min, max 값 업데이트
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/_core/utils/PriceCalculator.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/match/MatchService.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/portfolio/Portfolio.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/portfolio/PortfolioResponse.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/portfolio/PortfolioService.java
  sunsu-wedding/src/main/resources/db/teardown.sql
Labels: Done, portfolio, refactor

#79 견적서 등록 및 1건 확정 시 매칭 내역의 가격 업데이트
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/match/Match.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/match/Quotation/QuotationService.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/portfolio/PortfolioJPARepository.java
  sunsu-wedding/src/main/resources/db/teardown.sql
  sunsu-wedding/src/test/java/com/kakao/sunsuwedding/match/MatchRestControllerTest.java
  sunsu-wedding/src/test/java/com/kakao/sunsuwedding/quotation/QuotationRestControllerTest.java
Labels: bug, Done, quotation

#81 포트폴리오 썸네일 순서 버그 해결
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/portfolio/PortfolioJPARepository.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/portfolio/PortfolioService.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/portfolio/image/ImageItemJPARepository.java
  sunsu-wedding/src/main/resources/db/teardown.sql
Labels: bug, Done, portfolio

#83 포트폴리오 조회 시 추가 쿼리가 발생하는 버그 수정
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/portfolio/Portfolio.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/portfolio/PortfolioJPARepository.java
Labels: bug, Done, portfolio

#90 유저 업그레이드 response 바꾸기 및 멘토님 코드리뷰 기반 리팩토링
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/_core/errors/BaseException.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/_core/errors/GlobalExceptionHandler.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/_core/errors/exception/BadRequestException.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/_core/errors/exception/ForbiddenException.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/_core/errors/exception/NotFoundException.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/_core/errors/exception/ServerException.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/_core/errors/exception/UnauthorizedException.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/_core/security/JWTProvider.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/_core/security/JwtAuthenticationFilter.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/_core/security/JwtExceptionFilter.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/_core/security/SecurityConfig.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/_core/utils/FilterResponseUtils.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/match/Match.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/match/MatchJPARepository.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/match/MatchService.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/match/Quotation/Quotation.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/match/Quotation/QuotationDTOConverter.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/match/Quotation/QuotationService.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/portfolio/PortfolioDTOConverter.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/portfolio/PortfolioService.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/portfolio/image/ImageEncoder.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/portfolio/image/ImageItemService.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/user/UserRequest.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/user/UserResponse.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/user/UserService.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/user/base_user/User.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/user/constant/Role.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/user/couple/Couple.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/user/payment/PaymentRestController.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/user/payment/PaymentService.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/user/planner/Planner.java
  sunsu-wedding/src/test/java/com/kakao/sunsuwedding/_core/DummyEntity.java
  sunsu-wedding/src/test/java/com/kakao/sunsuwedding/user/RoleTest.java
Labels: Done, user, refactor

#91 커서 기반 페이지네이션, refresh token 구현
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/_core/errors/BaseException.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/_core/security/JWTProvider.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/_core/security/JwtAuthenticationFilter.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/_core/security/JwtExceptionFilter.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/_core/security/SecurityConfig.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/_core/utils/FilterResponseUtils.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/match/Quotation/Quotation.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/match/Quotation/QuotationJPARepository.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/match/Quotation/QuotationRequest.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/match/Quotation/QuotationResponse.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/match/Quotation/QuotationRestController.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/match/Quotation/QuotationService.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/portfolio/PortfolioJPARepository.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/portfolio/PortfolioRestController.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/portfolio/PortfolioService.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/portfolio/cursor/CursorRequest.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/portfolio/cursor/PageCursor.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/portfolio/image/ImageEncoder.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/portfolio/image/ImageItemJPARepository.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/user/UserRequest.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/user/UserResponse.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/user/UserRestController.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/user/UserService.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/user/token/Token.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/user/token/TokenDTO.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/user/token/TokenJPARepository.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/user/token/TokenService.java
  sunsu-wedding/src/main/resources/db/teardown.sql
  sunsu-wedding/src/test/java/com/kakao/sunsuwedding/quotation/QuotationRestControllerTest.java
  sunsu-wedding/src/test/java/com/kakao/sunsuwedding/user/UserRestControllerTest.java
Labels: enhancement, Done, user, portfolio

#94 포트폴리오 평균 거래가격 계산 로직 수정
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/_core/utils/PriceCalculator.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/portfolio/PortfolioService.java
Labels: Done, portfolio, refactor

#95 채팅방 생성 API 수정 및 테스트 코드 추가
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/_core/errors/BaseException.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/_core/security/JwtAuthenticationFilter.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/_core/security/JwtExceptionFilter.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/_core/security/SecurityConfig.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/match/MatchJPARepository.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/match/MatchResponse.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/match/MatchRestController.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/match/MatchService.java
  sunsu-wedding/src/main/resources/db/teardown.sql
  sunsu-wedding/src/test/java/com/kakao/sunsuwedding/_core/DummyEntity.java
  sunsu-wedding/src/test/java/com/kakao/sunsuwedding/match/MatchRepositoryTest.java
  sunsu-wedding/src/test/java/com/kakao/sunsuwedding/match/MatchRestControllerTest.java
  sunsu-wedding/src/test/java/com/kakao/sunsuwedding/payment/PaymentRestControllerTest.java
  sunsu-wedding/src/test/java/com/kakao/sunsuwedding/quotation/QuotationRestControllerTest.java
  sunsu-wedding/src/test/java/com/kakao/sunsuwedding/user/CoupleJPARepositoryTest.java
  sunsu-wedding/src/test/java/com/kakao/sunsuwedding/user/PlannerJPARepositoryTest.java
  sunsu-wedding/src/test/java/com/kakao/sunsuwedding/user/TokenJPARepositoryTest.java
  sunsu-wedding/src/test/java/com/kakao/sunsuwedding/user/UserJPARepositoryTest.java
  sunsu-wedding/src/test/java/com/kakao/sunsuwedding/user/UserRestControllerTest.java
  sunsu-wedding/src/test/java/com/kakao/sunsuwedding/util/RoleTest.java
Labels: Done, test

#101 필터링 구현, 토큰 에러 응답 양식 변경
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/_core/errors/BaseException.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/_core/errors/exception/TokenException.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/_core/security/JwtAuthenticationFilter.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/_core/security/JwtExceptionFilter.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/_core/utils/FilterResponseUtils.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/_core/utils/TokenResponse.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/portfolio/PortfolioJPARepository.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/portfolio/PortfolioRestController.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/portfolio/PortfolioService.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/portfolio/PortfolioSpecification.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/portfolio/cursor/CursorRequest.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/user/token/ErrorStatus.java
Labels: enhancement, Done, portfolio, refactor

#103 결제 엔티티 분리
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/Quotation/Quotation.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/Quotation/QuotationDTOConverter.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/Quotation/QuotationJPARepository.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/Quotation/QuotationRequest.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/Quotation/QuotationResponse.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/Quotation/QuotationRestController.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/Quotation/QuotationService.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/Quotation/QuotationStatus.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/_core/errors/BaseException.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/_core/utils/DateFormat.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/_core/utils/PriceCalculator.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/match/MatchRestController.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/match/MatchService.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/payment/Payment.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/payment/PaymentJPARepository.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/payment/PaymentRequest.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/payment/PaymentRestController.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/payment/PaymentService.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/portfolio/PortfolioDTOConverter.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/portfolio/PortfolioRestController.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/portfolio/PortfolioService.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/user/UserRequest.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/user/UserResponse.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/user/UserService.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/user/base_user/User.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/user/couple/Couple.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/user/planner/Planner.java
  sunsu-wedding/src/main/resources/application-test.yml
  sunsu-wedding/src/main/resources/db/teardown.sql
  sunsu-wedding/src/test/java/com/kakao/sunsuwedding/_core/DummyEntity.java
  sunsu-wedding/src/test/java/com/kakao/sunsuwedding/match/MatchRepositoryTest.java
  sunsu-wedding/src/test/java/com/kakao/sunsuwedding/match/MatchRestControllerTest.java
  sunsu-wedding/src/test/java/com/kakao/sunsuwedding/payment/PaymentRestControllerTest.java
  sunsu-wedding/src/test/java/com/kakao/sunsuwedding/quotation/QuotationRepositoryTest.java
  sunsu-wedding/src/test/java/com/kakao/sunsuwedding/quotation/QuotationRestControllerTest.java
  sunsu-wedding/src/test/java/com/kakao/sunsuwedding/user/CoupleJPARepositoryTest.java
  sunsu-wedding/src/test/java/com/kakao/sunsuwedding/user/PlannerJPARepositoryTest.java
  sunsu-wedding/src/test/java/com/kakao/sunsuwedding/user/UserJPARepositoryTest.java
  sunsu-wedding/src/test/java/com/kakao/sunsuwedding/util/DateFormatTest.java
  sunsu-wedding/src/test/java/com/kakao/sunsuwedding/util/RoleTest.java
Labels: Done, refactor, payment

#106 PortfolioController 테스트 코드 작성, 가격 업데이트 시 예외 처리
  sunsu-wedding/images/image1.jpg
  sunsu-wedding/images/image2.jpg
  sunsu-wedding/images/image3.jpg
  sunsu-wedding/images/image4.jpg
  sunsu-wedding/images/image5.jpg
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/match/Match.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/match/MatchService.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/portfolio/Portfolio.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/portfolio/PortfolioRequest.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/portfolio/PortfolioResponse.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/portfolio/PortfolioRestController.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/portfolio/PortfolioService.java
  sunsu-wedding/src/main/resources/application-test.yml
  sunsu-wedding/src/main/resources/db/teardown.sql
  sunsu-wedding/src/test/java/com/kakao/sunsuwedding/portfolio/PortfolioControllerTest.java
Labels: bug, Done, test, portfolio, match

#113 JWTProvider 변수 non-static으로 변경
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/_core/security/JWTProvider.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/_core/security/JwtAuthenticationFilter.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/_core/security/SecurityConfig.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/user/UserRestController.java
  sunsu-wedding/src/test/java/com/kakao/sunsuwedding/quotation/QuotationRestControllerTest.java
  sunsu-wedding/src/test/java/com/kakao/sunsuwedding/user/UserRestControllerTest.java
Labels: Done, user, refactor

#114 포트폴리오 리스트 조회 시 탈퇴한 플래너 예외처리
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/portfolio/Portfolio.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/portfolio/PortfolioService.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/portfolio/image/ImageItem.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/portfolio/price/PriceItem.java
Labels: bug, Done, portfolio

#115 가격 기반 포트폴리오 필터링 구현 및 에러 수정
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/_core/security/JwtAuthenticationFilter.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/_core/utils/FilterResponseUtils.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/portfolio/Portfolio.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/portfolio/PortfolioJPARepository.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/portfolio/PortfolioRestController.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/portfolio/PortfolioService.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/portfolio/PortfolioSpecification.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/portfolio/cursor/CursorRequest.java
Labels: bug, Done, user, portfolio

#121 코드리뷰 기반 리팩토링
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/_core/security/CustomUserDetails.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/_core/security/CustomUserDetailsService.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/_core/security/SecurityConfig.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/_core/utils/ApiUtils.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/_core/utils/PriceCalculator.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/match/Match.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/match/MatchRequest.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/match/MatchResponse.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/match/MatchRestController.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/match/MatchService.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/payment/Payment.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/payment/PaymentRequest.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/payment/PaymentRestController.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/payment/PaymentService.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/portfolio/Portfolio.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/portfolio/PortfolioDTOConverter.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/portfolio/PortfolioJPARepository.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/portfolio/PortfolioRequest.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/portfolio/PortfolioRestController.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/portfolio/PortfolioService.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/portfolio/image/ImageItem.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/portfolio/image/ImageItemJPARepository.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/portfolio/image/ImageItemService.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/portfolio/price/PriceItem.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/portfolio/price/PriceItemJPARepository.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/quotation/Quotation.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/quotation/QuotationDTOConverter.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/quotation/QuotationJPARepository.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/quotation/QuotationRequest.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/quotation/QuotationResponse.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/quotation/QuotationRestController.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/quotation/QuotationService.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/quotation/QuotationStatus.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/user/UserRestController.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/user/UserService.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/user/base_user/User.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/user/couple/Couple.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/user/planner/Planner.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/user/token/ErrorStatus.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/user/token/Token.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/user/token/TokenJPARepository.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/user/token/TokenService.java
  sunsu-wedding/src/test/java/com/kakao/sunsuwedding/match/MatchRestControllerTest.java
  sunsu-wedding/src/test/java/com/kakao/sunsuwedding/payment/PaymentRestControllerTest.java
  sunsu-wedding/src/test/java/com/kakao/sunsuwedding/portfolio/PortfolioControllerTest.java
  sunsu-wedding/src/test/java/com/kakao/sunsuwedding/quotation/QuotationRepositoryTest.java
  sunsu-wedding/src/test/java/com/kakao/sunsuwedding/quotation/QuotationRestControllerTest.java
  sunsu-wedding/src/test/java/com/kakao/sunsuwedding/user/UserRestControllerTest.java
Labels: Done, refactor

#123 Chat, Match 엔티티 분리
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/chat/Chat.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/chat/ChatJPARepository.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/chat/ChatRequest.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/chat/ChatResponse.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/chat/ChatRestController.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/chat/ChatService.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/match/Match.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/match/MatchJPARepository.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/match/MatchRequest.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/match/MatchResponse.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/match/MatchRestController.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/match/MatchService.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/quotation/QuotationRestController.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/quotation/QuotationService.java
  sunsu-wedding/src/main/resources/db/teardown.sql
  sunsu-wedding/src/test/java/com/kakao/sunsuwedding/chat/ChatControllerTest.java
  sunsu-wedding/src/test/java/com/kakao/sunsuwedding/chat/ChatRepositoryTest.java
  sunsu-wedding/src/test/java/com/kakao/sunsuwedding/match/MatchRestControllerTest.java
  sunsu-wedding/src/test/java/com/kakao/sunsuwedding/quotation/QuotationRestControllerTest.java
Labels: enhancement, Done, refactor, match

#124 견적서 모아보기 기능 구현
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/chat/ChatRestController.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/chat/ChatService.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/match/Match.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/quotation/QuotationDTOConverter.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/quotation/QuotationJPARepository.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/quotation/QuotationResponse.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/quotation/QuotationRestController.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/quotation/QuotationService.java
  sunsu-wedding/src/test/java/com/kakao/sunsuwedding/quotation/QuotationRestControllerTest.java
Labels: enhancement, Done, quotation

#126 결제 통합 승인 API 구현
  sunsu-wedding/build.gradle
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/payment/Payment.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/payment/PaymentRequest.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/payment/PaymentRestController.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/payment/PaymentService.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/payment/TossPaymentResponse.java
  sunsu-wedding/src/test/java/com/kakao/sunsuwedding/payment/PaymentRestControllerTest.java
Labels: enhancement, Done, payment

#128 리뷰 기능 구현
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/_core/errors/BaseException.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/match/Match.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/match/MatchJPARepository.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/match/MatchRestController.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/match/MatchService.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/review/Review.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/review/ReviewDTOConverter.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/review/ReviewJPARepository.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/review/ReviewRequest.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/review/ReviewResponse.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/review/ReviewRestController.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/review/ReviewService.java
Labels: enhancement, Done, review
