Repository Step3-kakao-tech-campus/Team5_BE, pull requests merged in 2023-09, with the labels that each got.

#12 readme 파일 업데이트
  .github/ISSUE_TEMPLATE/순수-웨딩-be-이슈-템플릿.md
  README.md
Labels: documentation

#10 회원가입 및 시큐리티 구현
  .gitignore
  sunsu-wedding/.idea/misc.xml
  sunsu-wedding/build.gradle
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/_core/errors/BaseException.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/_core/security/CustomCoupleDetails.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/_core/security/CustomPlannerDetails.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/_core/security/CustomUserDetailsService.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/_core/security/JWTProvider.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/_core/security/JwtAuthenticationFilter.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/_core/security/SecurityConfig.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/user/Grade.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/user/UserRequest.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/user/UserResponse.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/user/UserRestController.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/user/UserService.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/user/constant/Grade.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/user/constant/Role.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/user/couple/Couple.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/user/couple/CoupleJPARepository.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/user/planner/Planner.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/user/planner/PlannerJPARepository.java
  sunsu-wedding/src/test/java/com/kakao/sunsuwedding/_core/DummyEntity.java
  sunsu-wedding/src/test/java/com/kakao/sunsuwedding/user/CoupleJPARepositoryTest.java
  sunsu-wedding/src/test/java/com/kakao/sunsuwedding/user/PlannerJPARepositoryTest.java
  sunsu-wedding/src/test/java/com/kakao/sunsuwedding/user/UserRestControllerTest.java
Labels: enhancement, Done, user

#14 유저 정보 조회, 등급 업그레이드
  .github/workflows/spring-boot-ci.yml
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/_core/errors/BaseException.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/_core/errors/GlobalExceptionHandler.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/_core/errors/GlobalValidationHandler.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/_core/security/CustomCoupleDetails.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/_core/security/CustomUserDetails.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/_core/security/CustomUserDetailsService.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/_core/security/JwtAuthenticationFilter.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/_core/security/JwtExceptionFilter.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/_core/security/SecurityConfig.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/user/UserRequest.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/user/UserResponse.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/user/UserRestController.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/user/UserService.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/user/couple/Couple.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/user/planner/Planner.java
  sunsu-wedding/src/test/java/com/kakao/sunsuwedding/user/RoleTest.java
  sunsu-wedding/src/test/java/com/kakao/sunsuwedding/user/UserRestControllerTest.java
Labels: enhancement, Done, user

#15 로그인 기능 구현
  sunsu-wedding/.gitignore
  sunsu-wedding/gradle/wrapper/gradle-wrapper.jar
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/_core/errors/BaseException.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/user/UserRequest.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/user/UserRestController.java
  sunsu-wedding/src/main/java/com/kakao/sunsuwedding/user/UserService.java
  sunsu-wedding/src/main/resources/db/teardown.sql
  sunsu-wedding/src/test/java/com/kakao/sunsuwedding/user/UserRestControllerTest.java
Labels: enhancement, In-progress, user

#22 README 파일에 실행 방법 재작성
  README.md
Labels: documentation
